* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
a {
  font-size: 1.3rem;
}
.icono-app img {
  width: 24px;
  height: 24px;
}
.icono-email img {
  width: 32px;
  height: 32px;
}
header a {
  text-decoration: none;
  color: black;
}
